{% extends "base.html" %} {% block title %}Home | Dali Naveen{% endblock %} {%
block content %}
<section class="hero">
  <div class="hero-content">
    <h1 class="fade-in">Welcome to My Profile</h1>
    <p class="slide-up">
      Hi, I'm <strong>Dali Naveen</strong> <br> a passionate
      <span class="highlight">Python Developer</span> specializing in
      <span class="highlight">Generative AI</span> and <span class="highlight">AI Chatbot Development</span>, creating intelligent conversational solutions that enhance user interaction and automated solutions powered by AI.
    </p>
    <a href="{{ url_for('services') }}" class="btn slide-up">Explore My Work</a>
  </div>
</section>
{% endblock %}
